spring:
  config:
    activate:
      on-profile: dev

# Kafka
  kafka:
    bootstrap-servers: 10.0.75.183:9092,10.0.90.35:9092,10.0.71.136:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: _
      enable-auto-commit: true
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
      max-poll-records: 1000
### dev-prod 분리 ###
    template:
      default-topic: lgtm-dev
    topic:
      user-log: user-data-log-dev
      chat-message: chat-message-dev
    group-id:
      user-log: user-log-c-dev-001
      chat-message: chat-message-c-dev-
      chat-message-repository: chat-message-repo-dev-001
